{{> header}}
<main class="container">
  <section class="posts">
    {{#each posts}}
    <article>
      <h2><a href="/post/{{id}}">{{title}}</a></h2>
      <p>{{content}}</p>
      <p class="post-meta">Posted by <em>{{user.username}}</em> on {{format_date createdAt}}</p>
    </article>
    {{/each}}
  </section>
</main>
